## Telco Customer Churn
### Data Cleaning & Preparation

**Objective**
Apply well-justified data cleaning and transformation rules based on
findings from previous EDA steps, while preserving business meaning
and analytical integrity.

### 1. Loading libraries and data

In [1]:
# loading libraries

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import missingno as msno

import warnings
warnings.filterwarnings("ignore")

In [2]:
# loading data

df = pd.read_csv("../1_dataset/raw_data/WA_Fn-UseC_-Telco-Customer-Churn.csv")

### 2. Re-evaluate Known Data Quality Issues

In [3]:
df["TotalCharges"] = pd.to_numeric(df["TotalCharges"], errors = "coerce")
df["TotalCharges"].isna().sum()

np.int64(11)

In [4]:
df[df["TotalCharges"].isna()][["tenure", "MonthlyCharges", "TotalCharges"]].head()

      tenure  MonthlyCharges  TotalCharges
488        0           52.55           NaN
753        0           20.25           NaN
936        0           80.85           NaN
1082       0           25.75           NaN
1340       0           56.05           NaN

- `TotalCharges` contains missing values caused by blank strings.
- These cases are concentrated among customers with very low tenure.
- They likely represent new customers with limited billing history,
  not invalid records.

### 3. Decision-Driven Bivariate Check

In [5]:
missing_tc = df[df["TotalCharges"].isna()]

missing_tc["Churn"].value_counts(normalize = True) * 100

Churn
No    100.0
Name: proportion, dtype: float64

In [6]:
df["Churn"].value_counts(normalize = True) * 100

Churn
No     73.463013
Yes    26.536987
Name: proportion, dtype: float64

- Churn distribution for customers with missing `TotalCharges`
  does not materially differ from the overall population.
- Removing these rows would bias early-tenure churn analysis.

### 4. Cleaning Rule Definition

- We will keep all rows, and fill null `TotalCharges` with `MonthlyCharges` x 'Tenure'.

In [7]:
df.loc[df["TotalCharges"].isna(), "TotalCharges"] = (
    df.loc[df["TotalCharges"].isna(), "MonthlyCharges"] * df.loc[df["TotalCharges"].isna(), "tenure"]
)

- This approach preserves customer records while creating a
business-consistent approximation of total charges.

### 5. Binary & Categorical Fields

In [9]:
df["ChurnFlag"] = df["Churn"].map({"Yes": 1, "No": 0})

- Binary target variable created for downstream analysis.
- Original categorical column retained for readability.

In [10]:
binary_cols = [
    col for col in df.columns
    if df[col].dtype == "object" and df[col].nunique() == 2
]

binary_cols

['gender',
 'Partner',
 'Dependents',
 'PhoneService',
 'PaperlessBilling',
 'Churn']

In [13]:
for col in binary_cols:
    if set(df[col].unique()) == {"Yes", "No"}:
        df[col + "_flag"] = df[col].map({"Yes": 1, "No": 0})

binary_cols

['gender',
 'Partner',
 'Dependents',
 'PhoneService',
 'PaperlessBilling',
 'Churn']

### 6. Dataset Validation

In [14]:
df.isnull().sum()

customerID               0
gender                   0
SeniorCitizen            0
Partner                  0
Dependents               0
tenure                   0
PhoneService             0
MultipleLines            0
InternetService          0
OnlineSecurity           0
OnlineBackup             0
DeviceProtection         0
TechSupport              0
StreamingTV              0
StreamingMovies          0
Contract                 0
PaperlessBilling         0
PaymentMethod            0
MonthlyCharges           0
TotalCharges             0
Churn                    0
ChurnFlag                0
Partner_flag             0
Dependents_flag          0
PhoneService_flag        0
PaperlessBilling_flag    0
Churn_flag               0
dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   customerID             7043 non-null   object
 1   gender                 7043 non-null   object
 2   SeniorCitizen          7043 non-null   int64
 3   Partner                7043 non-null   object
 4   Dependents             7043 non-null   object
 5   tenure                 7043 non-null   int64
 6   PhoneService           7043 non-null   object
 7   MultipleLines          7043 non-null   object
 8   InternetService        7043 non-null   object
 9   OnlineSecurity         7043 non-null   object
 10  OnlineBackup           7043 non-null   object
 11  DeviceProtection       7043 non-null   object
 12  TechSupport            7043 non-null   object
 13  StreamingTV            7043 non-null   object
 14  StreamingMovies        7043 non-null   object
 15  Contract               7043 non-null   object
 16  PaperlessBilling       7043 non-null   object
 17  PaymentMethod          7043 non-null   object
 18  MonthlyCharges         7043 non-null   float64
 19  TotalCharges           7043 non-null   float64
 20  Churn                  7043 non-null   object
 21  ChurnFlag              7043 non-null   int64
 22  Partner_flag           7043 non-null   int64
 23  Dependents_flag        7043 non-null   int64
 24  PhoneService_flag      7043 non-null   int64
 25  PaperlessBilling_flag  7043 non-null   int64
 26  Churn_flag             7043 non-null   int64
dtypes: float64(2), int64(8), object(17)
memory usage: 1.5+ MB

In [17]:
# lets export processed dataset to use it in SQL & BI Tools

df.to_csv("../1_dataset/structured_data/telco_churn_clean.csv", index = False)

## Data Cleaning & Preparation Summary

- Data quality issues were identified and addressed with explicit rules.
- No customer records were removed.
- Business meaning was preserved throughout cleaning.
- A clean, analysis-ready dataset was created for SQL and BI workflows.

**Next Step**
Load the processed dataset into PostgreSQL and begin SQL-based analysis.